version: "3.8"

services:
  web:
    # restart: "always"
    build: .
    environment:
      IP: 127.0.0.1
    command: bash -c "python manage.py runserver 0.0.0.0:8000"
    container_name: jukwaa
    image: jukwaa
    working_dir: /jukwaa
    volumes:
      - .:/jukwaa
    ports:
      - "8000:8000"
